#main-title {
    color: red;
    font-size: 29px;
}

#description {
    font-style: italic;
    font-size: 19px;
}

#pizza-list {
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-end;
}

.pizza {
    color: green;
}

.pizza-img {
    width: 190px;
}